* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lucida Console", Verdana, Monospace;
  width: 1200px;
  margin: 20px auto;
  /* background-color: #2965f920; */
}

img {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  /* color: white; */
}

.title,
h1,
h2 {
  text-align: center;
  padding: 10px;
  background-color: #2965f920;
  width: 80%;
  margin: 20px auto;
  border-radius: 5px;
}

body p {
  text-indent: 1rem;
  padding: 0 10px;
  width: 80%;
}

p,
.container {
  margin: 0 auto;
}

li {
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #2965f920;
  width: 400px;
}

.list {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 18px;
}

.land-list {
  list-style: none;
}
